---
import { Plus, ShoppingBag, Shirt, Palette, DollarSign } from "lucide-react";

import { cn } from "@/lib/utils";

import { buttonVariants } from "@/components/ui/button";
import { InsertDataDialog } from "./insert-data-dialog";

const { auth, t } = Astro.locals;

const session = await auth.validate();

if (!session) {
  return null;
}
---

<InsertDataDialog title={t("insertmodal.title")} client:only>
  <div class="space-y-2">
    <a
      href={Astro.locals.translatePath("/app/product-types/new")}
      class={cn(
        buttonVariants({ variant: "outline" }),
        "w-full flex items-center justify-start",
      )}
    >
      <Shirt className="w-4 h-4 mr-4" />
      {t("insertmodal.productTypes")}
    </a>
    <a
      href={Astro.locals.translatePath("/app/product-colors")}
      class={cn(
        buttonVariants({ variant: "outline" }),
        "w-full flex items-center justify-start",
      )}
    >
      <Palette className="w-4 h-4 mr-4" />
      {t("insertmodal.productColors")}
    </a>
    <a
      href={Astro.locals.translatePath("/app/sells/new")}
      class={cn(
        buttonVariants({ variant: "outline" }),
        "w-full flex items-center justify-start",
      )}
    >
      <DollarSign className="w-4 h-4 mr-4" />
      {t("insertmodal.sell")}
    </a>
    <a
      href={Astro.locals.translatePath("/app/buys/new")}
      class={cn(
        buttonVariants({ variant: "outline" }),
        "w-full flex items-center justify-start",
      )}
    >
      <ShoppingBag className="w-4 h-4 mr-4" />
      {t("insertmodal.buy")}
    </a>
  </div>
</InsertDataDialog>
