---
import { Suspense, ResolveSuspended } from "simple-stack-stream/components";

import App from "@/layouts/app.astro";
import InsertDataButton from "@/components/insert-data-button";
import { Heading } from "@/components/ui/heading";
import Dashboard from "@/modules/app/dashboard.astro";

const { auth, t, lang } = Astro.locals;

const session = await auth.validate();

if (!session) {
  return Astro.redirect(Astro.locals.translatePath("/"));
}
---

<App title={t("pagetitle.app")}>
  <div class="px-4 py-8 container max-w-2xl">
    <div class="sm:flex items-center">
      <Heading
        title={t("pagetitle.app")}
        description=""
        className="mb-8 sm:mb-0 sm:pr-2 sm:mr-auto"
      />
      <InsertDataButton />
    </div>
    <Suspense>
      <Dashboard />
      <p slot="fallback">Loading...</p>
    </Suspense>

    <ResolveSuspended />
  </div>
</App>
